@mixin absCenterAll(){
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin absCenterX(){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin absCenterY(){
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
@mixin  flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fadeIn {
    animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn{
from{opacity:0}
to{opacity:1}
}