@font-face {
    font-family: 'Avengeance Heroic Avenger';
    src: url('./fonts/AvengeanceHeroicAvengerNormal.woff2') format('woff2'),
        url('./fonts/AvengeanceHeroicAvengerNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'American Captain';
    src: url('./fonts/AmericanCaptain.woff2') format('woff2'),
        url('./fonts/AmericanCaptain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-title:'Avengeance Heroic Avenger',sans-serif;
$font-nav:'American Captain',sans-serif;

$search-icon:#E11C24;