@import 'poster_descri.scss';
@import 'movies.scss';
@import 'newMovieInput.scss';
.main-content{
  height: 100vh;
     min-height:678px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  400px minmax(200px,350px);
    grid-template-areas:  'poster-descri' 'movies';
   background-color: #000;
    
 }