@import 'poster_descri.scss';
@import 'movies.scss';
.main-content{
    min-height:calc(100vh - 40px);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  auto minmax(300px,350px);
    grid-template-areas:  'poster-descri' 'movies';
   background-color: #000;
    
 }