.header{
    position: absolute;
    bottom: 5%;
    color:#fff;
    font-family: $font-title,sans-serif;
    text-align: center;
    width: 100%;
    h1{
        font-size: 100px;
        margin: 0;
    }
    h2{
        font-size: 60px;
        margin: 0;
    }
}