.header{
    position: absolute;
    bottom: 18%;
    color:#fff;
    font-family: $main-font;
    text-align: center;
    width: 100%;
    h1{
        font-size: 100px;
        margin: 0;
        text-transform: uppercase;
        font-weight: normal;
    }
    h2{
        font-size: 60px;
        margin: 0;
        margin-bottom: 20px;
        font-weight: normal;
    }
}