.navbar{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    color:#fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: 100px;
        background-color: rgba(0,0,0,.4);
        padding: 5px;
        box-sizing: border-box;
    }
    .menu{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .search-bar{
        position: relative;
    }
    input{
        border-radius: 8px;
        height: 30px;
        width: 180px;
        padding-left: 15px;
        border: none;
        box-sizing: border-box;
    }
    .search{
        display: inline-block;
        height: 30px;
        width: 30px;
        vertical-align: middle;
        border:none;
        border-radius: 8px;
        position: absolute;
        right: 0;
        background: $search-icon url('./images/search-icon.svg') no-repeat center;
        padding: 2px;
        background-size: 15px;
        cursor: pointer;
    }
    .menu-items{ 
        padding: 0;
        margin: 0;
        li{
            display: inline-block;
            list-style: none;
            margin-left: 25px;
            text-transform: uppercase;
            font-family: $font-nav;
            font-size: 20px;
            cursor: pointer;
        }
    }
}